 .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-block: rem(20);   
 }
.header__list {
    @include flex; 
    flex-wrap: wrap;
    margin-left: auto; 
    max-width: rem(1000);
    padding-left: 0;
    gap: rem(30);
}
    
.header__item {
    list-style-type: none;
}
.header__link {
    text-decoration: none;
    font-family: $primary-fonts;
    font-weight: 600;
    list-style-type: none;
    color: $color-title;
    text-transform: uppercase;
    line-height: rem(18);
    letter-spacing: rem(1.1);

    &:hover,
    &:focus-visible {
        opacity: .7;
    }

    &:active {
        color: $color-active;
    }
}

.header__person-wrapper {
    padding-left: rem(38);
}

.header__person-link{
    display: block;
    width: rem(40);
    height: rem(40);
}

.header__person-link,
.header__person-img {
    &:hover,
    &:focus-visible {
        opacity: .7;
    }
    &:active {
        opacity: .3 ;
    }
}