.screens {
  padding-block: rem(39);
}

.screens__title {
  max-width: rem(350);
  margin-block: 0;
  margin-left: rem(100);
}

.screens__title span {
  position: absolute;
  display: block;
  padding-top: rem(20);
  color: $color-span-title;
  z-index: 10;
}

.screens__swiper {
  position: relative;
  margin-top: rem(10);
  overflow: hidden;
}


.screens__slide {
  background-position: center;
  background-size: cover;
}

