.screens {
  padding-block: rem(39);
}

.screens__title {
  max-width: rem(350);
  margin-block: 0;
  margin-left: rem(100);
}

.screens__title span {
  position: absolute;
  display: block;
  padding-top: rem(20);
  color: $color-light;
  z-index: 10;
}

.screens__swiper {
  position: relative;
  margin-top: rem(10);
  overflow: hidden;
}

.screens__slide {
  background-position: center;
  background-size: cover;
}

.screens-next,
.screens-prev {
  position: absolute;
  bottom: rem(7);
  z-index: 11;
  display: block;
  padding: 0;
  width: rem(98);
  height: rem(76);
  background-color: $color-light;
  border: none;

  // pointer-events: none  ;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: $color-title;
    mask-size: rem(14) rem(18);
    mask-repeat: no-repeat;
    width: rem(14);
    height: rem(18);
  }
}

.screens-next {
  left: rem(973);

  &::before {
    mask-image: url("/__spritemap#sprite-next-view");
  }
}

.screens-prev {
  left: rem(876);

  &::before {
    content: "";
    display: block;
    mask-image: url("/__spritemap#sprite-prev-view");
  }
}
